<app-header></app-header>
<!-- Section -->
    <div class="inner" *ngIf="fotin">
        <div class="centerAlign">
            <img class="imgPicture" src="../../assets/images/thumbs/{{fotin.url}}" alt="" title="This right here is a caption." />
        </div>
        <header align="center">
            <h1>{{fotin.titulo}}</h1>
        </header>
        <div>
            <h3>Pais: {{fotin.pais}}</h3>
            <h4>Lugar: {{fotin.lugar}} </h4>
        </div>
        <p>{{fotin.descripcion}}</p>
    </div>
<app-contact></app-contact>
<app-footer></app-footer>