<app-header></app-header>
<!-- Gallery -->
<section id="galleries">

    <!-- Photo Galleries -->
        <div class="gallery">

            <!-- Filters -->
                <header>
                    <h1>Gallery</h1>
                    <ul class="tabs">
                        <li><a href="#" data-tag="all" class="button active">All</a></li>
                        <li><a href="#" data-tag="people" class="button">People</a></li>
                        <li><a href="#" data-tag="place" class="button">Places</a></li>
                        <li><a href="#" data-tag="thing" class="button">Things</a></li>
                    </ul>
                </header>

                <div class="content">
                    <div class="pictures all people">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/01.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all place">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/05.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all thing">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/09.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all people">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/02.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all place">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/06.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all thing">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/10.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all people">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/03.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all place">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/07.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all thing">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/11.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all people">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/04.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all place">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/08.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                    <div class="pictures all thing">
                        <a routerLink="/picture"><img src="../../assets/images/thumbs/12.JPG" alt="" title="This right here is a caption." /></a>
                    </div>
                </div>
        </div>
</section>
<app-contact></app-contact>
<app-footer></app-footer>