
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>{{ _infoPagServ.info.nombre }}</h1>
        <p>By <a href="https://www.instagram.com/voyagerwebdesign" target="_blank">{{ _infoPagServ.info.empresa }}</a></p>
        <ul class="actions">
            <li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
        </ul>
    </div>
</section>

<!-- Gallery -->
<section id="galleries">

    <!-- Photo Galleries -->
        <div class="gallery">
            <header class="special">
                <h2>What's New</h2>
            </header>
            <div class="content">
                <div class="media">
                    <a routerLink="/picture"><img src="../assets/images/thumbs/01.JPG" alt="" title="This right here is a caption." /></a>
                </div>
                <div class="media">
                    <a routerLink="/picture"><img src="../assets/images/thumbs/05.JPG" alt="" title="This right here is a caption." /></a>
                </div>
                <div class="media">
                    <a href="../assets/images/fulls/09.JPG"><img src="../assets/images/thumbs/09.JPG" alt="" title="This right here is a caption." /></a>
                </div>
                <div class="media">
                    <a href="../assets/images/fulls/02.JPG"><img src="../assets/images/thumbs/02.JPG" alt="" title="This right here is a caption." /></a>
                </div>
                <div class="media">
                    <a href="../assets/images/fulls/06.JPG"><img src="../assets/images/thumbs/06.JPG" alt="" title="This right here is a caption." /></a>
                </div>
                <div class="media">
                    <a href="../assets/images/fulls/10.JPG"><img src="../assets/images/thumbs/10.JPG" alt="" title="This right here is a caption." /></a>
                </div>
                <div class="media">
                    <a href="../assets/images/fulls/03.JPG"><img src="../assets/images/thumbs/03.JPG" alt="" title="This right here is a caption." /></a>
                </div>
                <div class="media">
                    <a href="../assets/images/fulls/07.JPG"><img src="../assets/images/thumbs/07.JPG" alt="" title="This right here is a caption." /></a>
                </div>
            </div>
            <footer>
                <a href="gallery.html" class="button big">Full Gallery</a>
            </footer>
        </div>
</section>
<app-contact></app-contact>
<app-footer></app-footer>

